*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sm: 0.875rem;
  --lg: 1.125rem;
  --xl: 1.25rem;
  --xxl: 1.375rem;
  --xxxl: 1.5rem;
  --slide-height: 200px;
  --light-color: #fce7f3;
  --point-color: #ec4899;
}

.header {
  padding: 20px 40px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.loading__txt {
  font-size: var(--xxxl);
  line-height: 3rem;
}
.loading__txt-sub {
  font-size: var(--lg);
}

.search__form {
  display: grid;
  grid-template-columns: 1fr 90%;
  background-color: #f1f3f4;
  border-radius: 5px;
  padding: 10px 15px;
  max-width: 720px;
}
button {
  cursor: pointer;
}
button,
input {
  outline: none;
  border: none;
  background: transparent;
}
.search__form-btn {
  font-size: var(--xl);
}
.search__keyword p {
  font-size: var(--sm);
  font-weight: 600;
  margin: 20px 0;
}
.search__keyword-box-item {
  border-radius: 30px;
  background-color: var(--light-color);
  color: var(--point-color);
  padding: 7px 14px;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 20px 40px;
}
.wrapper__item {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 0.5rem;
  background-color: #f1f3f4;
  overflow: hidden;
}
.wrapper__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper__item:hover > .cover {
  cursor: pointer;
  opacity: 1;
}
.wrapper__item .cover {
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: -moz-linear-gradient(180deg, rgba(0, 212, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(2, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 212, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(2, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 212, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(2, 0, 0, 0.8) 100%);
}
.wrapper__item .cover p {
  font-size: var(--xl);
  color: #fff;
}

.slider {
  position: relative;
  height: auto;
  padding: 2rem;
}
.slider__btn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--point-color);
}
.slider__btn button.prev {
  left: 2rem;
}
.slider__btn button.next {
  right: 2rem;
}
.slider__box {
  width: calc((330px * 5) - 30px);
  height: var(--slide-height);
  overflow: hidden;
  margin: 0 auto;
}
.slider__list {
  transform: translateX(-330px);
  display: flex;
}
.slider__list-txt {
  transform: translateX(-350px);
  font-size: var(--xxl);
  line-height: 200px;
}
.slider__list-item {
  width: 300px;
  height: var(--slide-height);
  flex-shrink: 0;
  margin-right: 30px;
  border-radius: 0.5rem;
  background-color: #f1f3f4;
  overflow: hidden;
}
.slider__list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
